@model warehouse.Models.Shipping

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shipping</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingConfirmation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingConfirmation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualShipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualShipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoReady)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoReady)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SealNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SealNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
